/* styles.css */
.highlight {
  color: #007bff; /* 텍스트 색상: 파란색 */
  background-color: #e0f7ff; /* 배경색: 연한 파란색 */
  padding: 2px 4px; /* 텍스트 주변에 여백 추가 */
  border-radius: 4px; /* 모서리를 둥글게 */
}

.spaced-paragraph {
  margin-bottom: 8px; /* 각 문단 아래에 8px 여백 추가 */
}

.stack-menu {
  color: #3e64ff; /* 텍스트 색상: 파란색 */
  font-size: 50px; /* 폰트 크기: 30px */
  line-height: 1.5; /* 라인 높이: 1.2배 */
  padding-top: 10px; /* 상단 패딩: 5px */
  padding-bottom: 10px; /* 하단 패딩: 5px */
}
